#files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

#folders
old_code_and_data/
rjavaenv-17/
rjavaenv-21/
large_data/
data_export_vis/
final_r5r/
final_r5r_notube/
final_r5r_accessible/
final_r5r_scenario1/
final_r5r_scenario2/
final_r5r_scenario3/
final_r5r_scenario4/
otp/
Dissertation Data/

#qgis
data_vis.qgz

#legend maps for formatting
maps/*LEGEND.png